<nav class="navbar">
    <div class="navbar-logo">
        <a routerLink="/home">NoteKit</a>
    </div>
     
    <div class="navbar-links">
        <a  routerLink="/home">Home</a>
        <a *ngIf="existingUser?.user" routerLink="/my-explorer">Explore</a>
        <a *ngIf="existingUser?.user" routerLink="/my-space">My Space</a>
        <a *ngIf="existingUser?.user" routerLink="/my-profile">My Profile</a>
        
        <a *ngIf="!existingUser?.user" routerLink="/login">Login</a>
        <a *ngIf="existingUser?.user" routerLink="/logout">Logout</a>
    </div>
</nav>